@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.mainback {
	/* min-height: 93vh; */
	display: flex;
	padding: 10px 0;
}
.page {
	width: 100%;
}
.heading {
	font-size: 60px;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
	padding: 5px 10px;
	margin: 0;
}

.MuiCardHeader-root,
.MuiCard-root footer {
	background-color: rgba(0, 0, 0, .03);
	padding: 0.75rem 1.25rem;
}
.MuiCardHeader-root {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.MuiCard-root footer {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	color: rgba(0, 0, 0, 0.4);
}

.MuiAccordionDetails-root h4 {
	display:inline-block;
	font-size: small;
	color: white;
	background-color: rgb(97, 176, 64);
	padding: 3px 6px;
	border-radius: 6px;
	margin: 0;
}
.MuiAccordionDetails-root blockquote {
	margin: 0;
}
.MuiAccordionDetails-root footer {
	color: rgba(0, 0, 0, 0.4);
	font-size: small;
}

@media only screen and (max-width: 600px) {
	.heading {
		font-size: 30px;
		display: flex;
		justify-content: center;
	}
}